/* TAGS 
*/

* {
	font-family: 'Maven Pro';
}

body {
	/*min-width: 670px;*/
}

h1 {
	margin-top: 150px;
	display: block;
	font-family: 'Arvo';
}

h2, h3, h4, h5 {
	font-family: "Arvo";
}

h5 {
	color: #888;
}

a {
	font-family: "Arvo";
	color: #aaa;
	text-decoration: none;
	padding: 10 10 10 0px;
}

.row {
	padding-bottom: 10px; 
	max-width: 1000px;
	margin: auto;
}






