/* HEADER
*/

#header {
	background-image: url("img/resume.jpg");
}

/* WORK
*/

#work {
	background-color: #f2f4f6;
	padding: 10px 50px;
}

#work-container {

}

.work-item {
}

/* EDUCATION
*/

#edu {
	background-color: #545556;
	padding: 10px 50px;
}

#edu > h2 {
	text-align: center;
}

#edu > div {
	margin: 0px auto 50px auto;
	text-align: center;
}

#endicott {
	background-image: url("img/endicott.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#brewster {
	background-image: url("img/brewster.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.school {
	display: inline-block;
	border: 5px solid #ffffff;
	margin: 15px;
	width: 350px;
	color: #f2f4f6;
	text-align: center;
}

.school > h3 {
	margin: 40px 0px;
}

.school > ul {
	background-color: #333;
	margin: 0px;
	padding: 10px 0px;
	list-style: none;
	text-align: left;
	opacity: 0.9;
}

/* SKILLS
*/

#skills {
	background-color: #f2f4f6;
	padding: 10px 50px;
}
