/* TAGS
*/

* {
	font-family: "Barlow Condensed";
}

body {
	background: #222426;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Barlow";
},

a, a:focus  {
	color: #929496;
	font-family: "Barlow";
	padding: 10 10 10 0px;
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: #f2f4f6;
	text-decoration: none;
}

.container {
	-webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);

	max-width: 1000px;
	margin: 0px auto;
}

.row {
	padding: 0px;
	margin: 0px;
	display: block;
}

/* MENU
*/

#menu {
	background-color: #323436;
	padding: 15px;
}

/* HEADER
*/

#header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-color: #c2c4c6;
	padding: 150px 0px;
}

#header > div {
	background-color: #222426;
	max-width: 300px;
	margin: 0px auto;
	border: solid 5px #f2f4f6;
	text-align: center;
	opacity: 0.75;
}

#header > div > span:nth-child(1) {
	margin-top: 15px;
	font-size: 32px;
	display: block;
	color: #f2f4f6;
	font-family: "Barlow";
}

#header > div > span:nth-child(2) {
	margin-bottom: 15px;
	font-size: 16px;
	display: block;
	color: #f2f4f6;
	font-family: "Barlow";
}








